.col-stand {
  text-align: center;
  padding: 5px;
}

.row-stand {
  background-color: #E8F5E9;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ul-stand {
  cursor: pointer;
}

.container {
  margin-top: 40px;
}

.ul-teams {
  margin-top: 20px;
  margin-left: -30px;
}

.spoints {
  font-weight: 900;
}
