<div class="container">
  <ul ng-repeat="x in drivers | orderBy:'-points'" class="ul-stand" ng-click="goTeam(x.team);">
    <div class="row row-stand">
        <div class="col-md-1 col-stand">
          {{$index + 1}}º
        </div>
        <div class="col-md-1 col-stand">
          <span class="flag-icon flag-icon-{{x.country}}"></span>
        </div>
        <div class="col-md-4 col-stand">
          {{x.driver}}
        </div>
        <div class="col-md-5 col-stand">
          {{x.team_name}}
        </div>
        <div class="col-md-1 col-stand spoints">
          {{x.points}}
        </div>
    </div>
  </ul>
</div>
