<div class="container">

  <p><a href="#/">Go back</a></p>

  <ul class="list-group">
    <li class="list-group-item">{{team_name}}</li>
    <li class="list-group-item">{{car}}</li>
  </ul>

  <ul ng-repeat="x in drivers | orderBy:'-points'" class="ul-teams">
    <div class="row row-stand" ng-if="x.team == idTeam">
        <div class="col-md-1 col-stand">
          {{$index + 1}}º
        </div>
        <div class="col-md-1 col-stand">
          <span class="flag-icon flag-icon-{{x.country}}"></span>
        </div>
        <div class="col-md-4 col-stand">
          {{x.driver}}
        </div>
        <div class="col-md-5 col-stand">
          {{x.team_name}}
        </div>
        <div class="col-md-1 col-stand spoints">
          {{x.points}}
        </div>
    </div>
  </ul>



</div>
